In [4]:
# figure out if I should do an import block or import just in time
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from scipy import stats
import env

# Telco Classification Project

Lori Ainslie, 11/29/21

# Executive Summary

## Project Goals

- To identify drivers of customer churn and find a solution for increasing customer retention

- To construct a model that accurately predicts which customers are most likely to churn to focus retention efforts

## Project Description

why you are tackling this project, why it is important and how it could be of use to someone else beyond just the interest or new knowledge.

## Acquisition

Include SQL query if not too long

In [5]:
def get_connection(db, user=env.user, host=env.host, password=env.password):
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'

In [7]:
telco_sql_query = '''
                select * from customers
                join contract_types using(contract_type_id)
                join internet_service_types using(internet_service_type_id)
                join payment_types using(payment_type_id)
                '''

def get_telco_data():
    return pd.read_sql(telco_sql_query,get_connection('telco_churn'))

In [8]:
df = get_telco_data()
df.head()

,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,2,1,3,0016-QLJIS,Female,0,Yes,Yes,65,Yes,...,Yes,Yes,Yes,Yes,90.45,5957.9,No,Two year,DSL,Mailed check
1,4,1,3,0017-DINOC,Male,0,No,No,54,No,...,Yes,Yes,No,No,45.20,2460.55,No,Two year,DSL,Credit card (automatic)
2,3,1,3,0019-GFNTW,Female,0,No,No,56,No,...,Yes,No,No,No,45.05,2560.1,No,Two year,DSL,Bank transfer (automatic)
3,4,1,3,0056-EPFBG,Male,0,Yes,Yes,20,No,...,Yes,No,No,Yes,39.40,825.4,No,Two year,DSL,Credit card (automatic)
4,3,1,3,0078-XZMHT,Male,0,Yes,No,72,Yes,...,Yes,Yes,Yes,Yes,85.15,6316.2,No,Two year,DSL,Bank transfer (automatic)

In [ ]:
import os

def get_titanic_data():
    filename = "titanic.csv"

    if os.path.isfile(filename):
        return pd.read_csv(filename)
    else:
        # read the SQL query into a dataframe
        df = pd.read_sql('SELECT * FROM passengers', get_connection('titanic_db'))

        # Write that dataframe to disk for later. Called "caching" the data for later.
        df.to_file(filename)

        # Return the dataframe to the calling code
        return df

## Preparation

In [ ]:
def train_validate_test_split(df, target, seed=123):
    '''
    This function takes in a dataframe, the name of the target variable
    (for stratification purposes), and an integer for a setting a seed
    and splits the data into train, validate and test. 
    Test is 20% of the original dataset, validate is .30*.80= 24% of the 
    original dataset, and train is .70*.80= 56% of the original dataset. 
    The function returns, in this order, train, validate and test dataframes. 
    '''
    train_validate, test = train_test_split(df, test_size=0.2, 
                                            random_state=seed, 
                                            stratify=df[target])
    train, validate = train_test_split(train_validate, test_size=0.3, 
                                       random_state=seed,
                                       stratify=train_validate[target])
    return train, validate, test

Steps you took to prepare the data and why you made the decisions you did.

Decisions made and reasons are communicated and documented for handling missing values.

## Exploration

In [ ]:
# viz providing context (such as the distribution of the target variable)

### Do customers with month-to-month contracts churn at a higher rate? What are the churn rates with other contract types?

In [ ]:
# viz

### Answer

### Is there a certain tenure length where month-to-month customers are more likely to churn? What about customers with contracts?

In [ ]:
# viz

### Answer

### Is any specific service associated with higher churn rates?

In [ ]:
# viz

### Answer

### Is it higher monthly charges that are causing churn? If so, what is that threshold where most customers churn for their specific service?

In [ ]:
# viz

### Answer

2 statistical tests (state null/alternate hypothesis) include vizes of the variable interactions

correlation: 2 continuous variables, normally distributed, testing for LINEAR correlation only (H_0: Not linearly dependent) - independent t-test: 1 continuous, somewhat normally distributed variable, one boolean variable, equal variance, independent (H_0: population mean of each group is equal) - chi-square test: 2 discrete variables. (H_0: the 2 variables are independent of each other). (other tests may be used)

## Look at user defined functions to see which might be useful

## Analysis Summary
- What I found
- How I will use it moving forward
- This includes key takeaways from all the questions answered in explore
- a list of which features will be used in modeling and why
- which features will not move forward and why

## Modeling

3 best models

Create a baseline and evaluate performance. The baseline is based on the training dataset.

Evaluate on train

Evaluate 3 best on validate

Clear communication as to how you evaluated and compared models. What metric(s) did you use and why? For example, in one case, you may decide to use precision over accuracy. If so, why? If you use multiple metrics, how will you decide which to select if metric is better for model A but another is better for model B? Will you rank them? Find a way to aggregate them into a single metric you can use to rank?

Evaluate top model on Test

In [ ]:
# comments in every code block

On your best model, a chart visualizing how it performed on test would be nice

# Conclusion

## Summary

- Original goals and how I reached them or didn't

the summary should tie together your analysis, the drivers of the outcome, and how you would expect your ML model to perform in the future on unseen data, in layman's terms.

"I expect this model to perform with x% accuracy on unseen data"

## Recommendations

actionable recommendations based on your insights and analysis to the business stakeholder(s),

## Next Steps

remember the best way to improve performance is to have better predictors/features. If you talk about gathering more data, being specific about what data you think will help you understand the problem better and why is the way to go!